{% extends "base.html" %}

{% block title %} Login Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif%}
    {% endwith %}


    <P>Please enter your usrname and password:</P>
    <form action="{{login_form}}" method="post">
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname" value="John"><br>
        <label for="pwd">Password:</label><br>
        <input type="text" id="pwd" name="pwd" value="password"><br><br>
        <input type="submit" value="Submit">
    </form> 
{% endblock %}