{% extends "base.html" %}

{% block title %} Login Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif%}
    {% endwith %}


    
    <form action="{{login_form}}" method="post">
        <h3 align="center">Login</h3>
        <P align="center">Please enter your username and password:</P>
        <div class="form-group">
            <label for="user_name">Username:</label>
            <input 
                type="text" 
                class="form-control" 
                id="user_name" 
                name="user_name" 
                value="user1"
                placeholder="Enter user name ">
        </div>

        <div class="form-group">
            <label for="user_password">Password:</label>
            <input 
                type="text" 
                class="form-control" 
                id="user_password" 
                name="user_password" 
                value="12345"
                placeholder="Enter Password">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">submit</button>
        
    </form> 
{% endblock %}