{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif%}
    {% endwith %}

    <main>
        <section class="content text-center">
            <h1>Welcome {{session['user']}} to Book Shop</h1>
            <p>please select any book that you like to purchase</p>
        </section>
        
    </main>
    

    
    
{% endblock %}